body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: grid;
}

.main-body, .contact-body {
    grid-template-rows: 50px 6fr;
}

.contact-body {
    grid-template-columns: 2fr 7fr 2fr;
}

.about-body {
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 4fr;
}

ul{
    list-style-type: none;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

li > a:link {
    font-weight: 100;
}

.main-head, .about-head, .contact-head {
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 0px;
}

.main-head, .about-head {
    grid-area: 1 / 1 / 2 / 3;
}

.contact-head {
    grid-area: 1 / 1 / 2 / 4;
}

.about-head a, .contact-head a {
    color: black;
}

.artist-name {
    font-size: 1.8rem;
    color: white;
}

.header-links {
    display: flex;
    gap: 100px;
}

.slideshow-div {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 3 / 3;
}

.slideshow-div > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.about-main {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0px 20px 0px;
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    grid-template-rows: 300px 50px 5fr 1fr;
    font-size: 0.8rem;
}

.profile-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 80px;
}

.inner-profile-div {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 80px 0px 0px;
}

.chinese-profile, .english-profile, .resume-section, .resume-dates, .resume-content, .contact-main {
    font-weight: 100;
}

.chinese-profile, .english-profile {
    color: rgb(104, 104, 104);
    grid-column: 2 / 3;
}

.chinese-profile {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.english-profile {
    padding-top: 10px;

}

.content-divider {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    border-bottom: 1px solid lightgray;
}

.resume-title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
}

.resume-container {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 2fr 6fr 3fr 1fr;
    gap: 30px;
}

.resume-section {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 8px;
}

.resume-dates {
    grid-column: 2 / 3;
}

.section-dates {
    grid-column: 2 / 3;
}

.section-content {
    grid-column: 3 / 5;
}

#section-content-1 {
    grid-row: 1 / 2;
}

#section-content-2 {
    grid-row: 2 / 3;
}

#section-content-3 {
    grid-row: 3 / 4;
}

#section-content-4 {
    grid-row: 4 / 5;
}

#section-content-5 {
    grid-row: 5 / 6;
}

#section-content-6 {
    grid-row: 6 / 7;
}

.contact-main {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 0.8rem;
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}