body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: grid;
}

.main-body, .contact-body {
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 1fr;
}

.about-body {
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4fr;
}

ul{
    list-style-type: none;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

li > a:link {
    font-weight: 100;
}

.main-head, .about-head, .contact-head {
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 0px;
    grid-area: 1 / 1 / 2 / 3;
}

.about-head a, .contact-head a {
    color: black;
}

.artist-name {
    font-size: 1.8rem;
    color: white;
}

.header-links {
    display: flex;
    gap: 100px;
}

.slideshow-div {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 3 / 3;
}

.slideshow-div > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile-div {
    font-size: 0.8rem;
    grid-area: 2 / 1 / 3 / 3;
    margin: 100px 20px 0px;
}

.profile-title {
    margin-bottom: 20px;
}

.chinese-profile, .english-profile {
    color: rgb(104, 104, 104);
}

.chinese-profile {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.english-profile {
    margin-top: 10px;
}

.contact-main {
    grid-area: 2 / 1 / 3 / 3;
    font-weight: 100;
    font-size: 0.8rem;
    margin: 100px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}